button {
    all: unset;
    cursor: pointer;
  }
  
  svg {
    color: grey;
    fill: currentColor;
    width: 20px;
    padding: 10px;
    /* height: 12px; */
  }

  form{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  
  input{
      border: none;
    flex-grow: 1;
    outline: none;
    padding: 6px 10px;
  }
  