.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.BreadCrumbWrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.menu-items-wrapper{
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  width: 100%;
}

.menu-items-wrapper svg{
  padding: 20px;
}